
<div *ngIf="loginError">Mauvais username ou password</div>

<form (ngSubmit)="register(userForm.value)" #userForm="ngForm">

    <div>
        <label for="username"> Username</label>
    </div>
    <div>
        <input type="text" name="username" [(ngModel)]="user.username" required minlength="3" #username="ngModel">
        <div *ngIf="username.dirty && username.hasError('required')"> champ obligatoire</div>
    </div>
    <div>
        <label for="password"> Password</label>
    </div>
    <div>
        <input type="password" name="password" [(ngModel)]="user.password" required="true" #password="ngModel">
        <div *ngIf="password.dirty && password.hasError('required')"> champ obligatoire</div>
    </div>
    <div>
        <input type="submit" value="Envoyer" *ngIf="userForm.valid">
    </div>

</form>



<div>
    <input type="button" value="S'inscrire" (click)="go()">
</div>



<p>
    username {{user.username}}
</p>
<p>
    password {{user.password}}
</p>